<table>
        <tr *ngFor= "let Amatchlist of Amatchlist">
            <label>Champion: </label>{{Amatchlist?.champion}}
            <br>
            <label>Lane: </label>{{Amatchlist?.lane}}
            <br>
            <label>MatchID: </label>{{Amatchlist?.matchId}} <button type="submit" class="button" (click)="getMatchDetails(Amatchlist?.matchId)">View Details</button>
            <br>
            <label>PlatformID: </label>{{Amatchlist?.platformId}}
            <br>
            <label>Queue: </label>{{Amatchlist?.queue}}
            <br>
            <label>Region: </label>{{Amatchlist?.region}}
            <br>
            <label>Role: </label>{{Amatchlist?.role}}
            <br>
            <label>Season: </label>{{Amatchlist?.season}}
            <br>
            <label>Timestamp: </label>{{Amatchlist?.timestamp}}
            <br>
            <br>
        </tr>
        <app-matchdetail [receivedDetails]="details"></app-matchdetail>
        <br>
</table>
<br>

