 
    <div class="container">
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #grabName="ngForm">
          <div class="form-group">
            <label for="name">Summoner Name</label>
            <input type="text" class="form-control" id="name" required name="name"
            [(ngModel)]="model.name" name="name">
          </div>
          <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div> 
</div>
    
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>